@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}
@model CollabApp.mvc.Models.RegisterViewModel
<!DOCTYPE html>
<html>
    <body>
        <div class="container sm-8">
            <h2>Register</h2>

            <form asp-controller="Register" asp-action="DisplayRegisterForm" method="post">
                <div class="form-floating mb-2">
                    <input asp-for="Username" class="form-control" placeholder="Username"/>
                    <label for="Username">Username</label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-floating mb-2">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                    <label for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-2">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password" />
                    <label for="ConfirmPassword">Confirm password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create an account</button>
            </form>    
        </div>
    </body>
</html>