@{
    ViewData["Title"] = "Register";
}
@model CollabApp.mvc.Models.RegisterViewModel
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="Register.cshtml.css">
    </head>
    <body>
        <div class="container">
            <h2>Register</h2>

            <form asp-controller="Register" asp-action="DisplayRegisterForm" method="post">
                <div class="form-group">
                    <input asp-for="Username" class="form-control" placeholder="Username"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="submit-button">Create an account</button>
            </form>    
        </div>
    </body>
</html>