
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InfoSync</title>
    <link rel="stylesheet" href="~/css/theme.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CollabApp.mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
