
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}
<div class="login-container">
    <h2>Sign in to InfoSync</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required/>
        </div>
        <button class="btn-primary" type="login">Login</button>
    </form>
</div>