@model Post
@{
    ViewData["Title"] = "Edit Post";
}
<div class="container">
    <h2>Edit Post</h2>

    @if(@ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger mt-3">
            @ViewBag.ErrorMessage
        </div>
    }

    <form asp-action="Edit" asp-controller="Post" asp-route-id="@Model.Id" method="post">
        <div class="form-floating mb-2">
            <input asp-for="Title" class="form-control" />
            <label for="Title">Title</label>
        </div>
        <div class="form-floating mb-2">
            <textarea asp-for="Description" class="form-control"></textarea>
            <label for="Description">Description</label>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Save</button>
    </form>

    <form asp-action="PostView" asp-controller="Post" asp-route-id="@Model.Id" method="get">
        <button type="submit" class="btn btn-primary">Back to Post</button>
    </form>
</div>