@model Post
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link rel="stylesheet" href="Index.cshtml.css">
</head>
<body>
    <div class="container">
        <form asp-asp-controller="Post" asp-action="Index" method="post" enctype="multipart/form-data">
            <input asp-for="Author" type="hidden" value="@Context.Session.GetString("Username")" />
            <div class="row">
                <div class="col-1">Title</div>
                <div class="col-5 "><input asp-for="Title" type="text" id="textField"/></div>

            </div>
            <div class="row">
                <div class="col-1">Descripton</div>
                <div class="col-5"><input asp-for="Description" type="text" id="textField"/></div>

            </div>
            <div class="row">
                <div class="col-1">Add a file</div>
                <div class="col-5"><input asp-for="Photo" type="file" id="textField"/></div>
                <span asp-validation-for="Photo" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input asp-for="SavedUrl" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="SavedFileName" type="hidden" class="form-control" />
            </div>
            <div class="row">
                <div class="button">
                  <input type="submit" value="Submit" id="button"/>  
                </div>
            </div>


        @if(@ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger mt-3">
                @ViewBag.ErrorMessage
            </div>
        }
        </form>
    </div>
</body>
</html>
