@model Post
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link rel="stylesheet" href="Index.cshtml.css">
</head>
<body>
    <div class="container">
        <form asp-asp-controller="Post" asp-action="Index" method="post">
            <input asp-for="Author" type="hidden" value="@Context.Session.GetString("Username")" />
            <div class="row">
                <div class="col-1">Title</div>
                <div class="col-5 "><input asp-for="Title" type="text" id="textField" required/></div>

            </div>
            <div class="row">
                <div class="col-1">Descripton</div>
                <div class="col-5"><input asp-for="Description" type="text" id="textField"/></div>

            </div>
            <div class="row">
                <div class="button">
                  <input type="submit" value="Submit" id="button"/>  
                </div>
            </div>
        </form>
    </div>
</body>
</html>
