@model IEnumerable<Post>
@{
    ViewData["Title"] = "Posts";
}

<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link rel="stylesheet" href="Posts.cshtml.css">
</head>
<body>
    <h1>Posts</h1>
    <!-- Sidebar for Filters -->
    <div class="sidebar">
        <h2>Filters</h2>
        <form class="filter-form" method="post" asp-controller="Post" asp-action="FilterPosts">
            <div class="form-group">
                <label for="SearchTerm">Search in the title or description:</label>
                <input type="text" id="SearchTerm" name="SearchTerm" class="form-control" value="">

                <label for="SearchTerm">Search by author:</label>
                <input type="text" id="authorName" name="authorName" class="form-control" value="">

                <label for="From date ">From date:</label>
                <input type="date" id="from" name="from">

                <label for="To date ">To date:</label>
                <input type="date" id="to" name="to">
            </div>

            <!-- Add more filter options here as needed -->
            <button type="submit" class="btn-btn-primary">Apply Filters</button>
        </form>
    </div>

    <div class="sort-sidebar">
        <h2>Sorting</h2>
        <form class="filter-form" method="post" asp-controller="Post" asp-action="SortPosts">
            <label for="sortBy">Sort by:</label>
            <select name="sortBy" id="sortBy" class="form-control">
                <option value="desc-comments">Most Popular First</option>
                <option value="asc-comments">Least Popular First</option>
                <option value="desc-date">Newest First</option>
                <option value="asc-date">Oldest First</option>
            </select>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>
    </div>

    <div class="container">
        <div class="create-post-btn">
            <button type="button" onclick="location.href='@Url.Action("Index","Post")'"> Create new post</button>
        </div>

        <div class="post-list">
            @foreach(var post in Model)
            {
                <div class="post-block">
                    <a asp-controller="Post" asp-action="PostView" asp-route-id="@post.Id">
                        <div class="individual-post">
                            @post.Title
                        </div>
                    </a>
                    <div class="posted-date">
                                                        @* embed C# *@
                        @{
                            var howManyDaysAgo = DateTime.Now - post.DatePosted;
                            var daysAgo = (int)howManyDaysAgo.TotalDays;
                            if (daysAgo == 0)
                            {
                                @:Today                 @* "@: means that Today should be rendered as plain text " *@
                            }
                            else if (daysAgo == 1)
                            {
                                @:Yesterday
                            }
                            else
                            {
                                @: @daysAgo days ago    @* @daysAgo - razor syntax to indicate that daysAgo is a variable *@
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>