@model IEnumerable<Post>
@{
    ViewData["Title"] = "Posts";
}

<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link rel="stylesheet" href="Posts.cshtml.css">
</head>
<body>
    <h1>Posts</h1>
    <div class="container">
        <div class="create-post-btn">
            <button type="button" onclick="location.href='@Url.Action("Index","Post")'"> Create new post</button>
        </div>
        <div class="post-list">
            @foreach(var post in Model)
            {
                <div class="post-block">
                    <a asp-controller="Post" asp-action="PostView" asp-route-id="@post.Id">
                        <div class="individual-post">
                            @post.Title
                        </div>
                    </a>
                    <div class="posted-date">
                        @post.DatePosted.ToString(@"MM\/dd\/yyyy HH:mm")
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>