/* Add your styles for the Posts page here */
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

button {
    background-color: #97B1AB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4C8076;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    color: #96ACCE;
}
