@model IEnumerable<Post>
@{
    ViewData["Title"] = "Posts";
}

<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link rel="stylesheet" href="Posts.cshtml.css">
</head>
<body>
    <h1>Posts</h1>
    <div class="container">
        <div class="create-post-btn">
            <button type="button" onclick="location.href='@Url.Action("Index","Post")'"> Create new post</button>
        </div>
        <div class="post-list">
            @foreach(var post in Model)
            {
                <div class="post-block">
                    <a asp-controller="Post" asp-action="PostView" asp-route-id="@post.Id">
                        <div class="individual-post">
                            @post.Title
                        </div>
                    </a>
                    <div class="posted-date">
                                                        @* embed C# *@
                        @{
                            var howManyDaysAgo = DateTime.Now - post.DatePosted;
                            var daysAgo = (int)howManyDaysAgo.TotalDays;
                            if (daysAgo == 0)
                            {
                                @:Today                 @* "@: means that Today should be rendered as plain text " *@
                            }
                            else if (daysAgo == 1)
                            {
                                @:Yesterday
                            }
                            else
                            {
                                @: @daysAgo days ago    @* @daysAgo - razor syntax to indicate that daysAgo is a variable *@
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>