h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}

button {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4C8076;
}

.individual-post {
    flex-grow: 1; /* Make the post title take up available space */
    padding-left: 10px; /* Add left padding for separation */
}

.posted-date {
    flex-grow: 1; 
    padding-right: 10px; 
    text-align: right;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    color: #96ACCE;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

/* Filter Form Styles */
.filter-form {
    margin-top: 10px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    /* font-weight:bolder; */
    margin-bottom: 5px;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

.question-icon {
    color: #ff9900; /* Adjust the color as needed */
    font-weight: bold;
    margin-right: 10px; /* Adjust the spacing as needed */
    text-decoration: none;
}