.text-center {
    text-align: center;
    margin-top: 20px;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #344B46; /* Change the text color to your preference */
}

p {
    font-size: 1.2rem;
    color: #627898 /* Change the text color to your preference */
}