@{
    ViewData["Title"] = "Homepage";
}
<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="Index.cshtml.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to InfoSync Collaboration App.</h1>
        <p>Join, Create, Collaborate!</p>
    </div>
    <div class="container">
        <img src="https://images.pexels.com/photos/265152/pexels-photo-265152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="background photo">
    </div>
</body>
</html>
