@{
    ViewData["Title"] = "Homepage";
}
<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="Index.cshtml.css">
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to InfoSync Collaboration App.</h1>
        <p>Join, Create, Collaborate!</p>
    </div>
</body>
</html>
