body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    justify-content: space-between; /* Adjusted to space between items */
    align-items: flex-start; /* Align items at the top */
}

.boards-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 70%; /* Adjusted to make boards-container wider */
    box-sizing: border-box; /* Include padding and border in the width */
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 25%; /* Add a board div takes up 25% of the width */
    background-color: #f2f2f2; /* Background color for the sidebar */
    box-sizing: border-box; /* Include padding and border in the width */
}

.sidebar h2 {
    text-align: left; /* Adjusted to align on the left */
    margin-top: 20px;
    font-size: 2rem;
}

.sidebar form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}